삼성전자.csv
15_Transformer model.ipynb
translation_transformer.ipynb
tennis_articles.csv
PPT_SEMI2_data
koGPT2_finetuned.zip
~$3조 Best-m4.t3 법률상담 AI_중간수정_1750.pptx
모델 변역.docx
유튜브 쇼츠 플로우.docx
유튜브_쇼츠_기획안.docx
유튜브_쇼츠_기획안_수정.docx
MPJT Final ppt/ppt자료.pptx
pytorch DL/.vscode
~$ Space-Time Attention All You Need for Video Understanding.docx
bert K5.docx
Is Space-Time Attention All You Need for Video Understanding.docx
kobert_sent_classifier_.ipynb
kobert_sent_classifier_py.ipynb
MMAction2_timesformer_pipeline.ipynb
